@model KoloLos.Models.Manager.ArticleNew

@{
    ViewBag.Title = "Utwórz";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend>Nowy artykuł</legend>
        
        <div>
            @Html.LabelFor(model => model.Title)
        </div>
        <div>
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        
        <div>
            @Html.LabelFor(model => model.Content)
        </div>
        <div>
            @Html.TextAreaFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div>
            @Html.LabelFor(model => model.PublishDate)
        </div>
        <div>
            @Html.EditorFor(model => model.PublishDate)
            @Html.ValidationMessageFor(model => model.PublishDate)
        </div>


        <div>
            @Html.LabelFor(model => model.Author)
        </div>
        <div>
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

        <p>
            <input type="submit" value="Utwórz" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

@section managerScripts {
    @Scripts.Render("~/bundles/jqueryval")
}
