@model KoloLos.Models.Manager.ArticleEdit

@{
    ViewBag.Title = "Skasuj";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

<h3>Czy chcesz skasować ten artykuł?</h3>
<fieldset>
    <legend>@Model.Title</legend>

    <div>
        <h3>@Html.DisplayNameFor(model => model.Content):</h3>
    </div>

    <div>
        @Html.DisplayFor(model => model.Content)
    </div>

    <div>
        <h3>@Html.DisplayNameFor(model => model.Author):</h3>
    </div>

    <div>
        @Html.DisplayFor(model => model.Author)
    </div>

</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Skasuj" />
        |
        @Html.ActionLink("Powrót do listy", "Index")
    </p>
}
