<!DOCTYPE html>
<html lang="pl-PL" class="static contents">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>

    <meta name="keywords" content="los, los, kolo, kolo, kolo lowieckie, tarnow, tarnów, los tarnów">
    <meta content="IE=edge,chrome=1" name="X-UA-Compatible" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="aside-2" id="layout-wrapper">
        <div id="layout-main-container">
            <div id="layout-main" class="group">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
