@model KoloLos.Models.NewsList

@{
    Layout = "~/Views/Shared/SingleColumnLayout.cshtml";
    ViewBag.Title = "title";
}
@section articleTitle
{
    Aktualności
}
<ul class="blog-posts content-items">
    @for (int i = 0; i < Model.ArticleAbstracts.Length; i++)
    {

        string itemClass = i == 0 ? "first" : string.Empty;
        KoloLos.Models.ArticleAbstract articleAbstract = Model.ArticleAbstracts[i];
                                    
        <li class="@itemClass">
            <article class="content-item blog-post">
                <header>
                    <h1>
                        @Html.ActionLink(articleAbstract.Title, "Details", new { id = articleAbstract.Id }, null)
                    </h1>
                    <div class="metadata">
                        <div class="published">
                            @articleAbstract.PublishDate
                        </div>
                    </div>
                </header>
                <p>
                    @articleAbstract.Abstract
                    @Html.ActionLink("więcej", "Details", new { id = articleAbstract.Id }, null)
                </p>
            </article>
        </li>
    }
</ul>
<ul class="pager group">
    @if (Model.PreviousPageExists)
    {
        <li>
            @Html.ActionLink("Poprzednie", "Index", new { pageIndex = Model.PreviousPageIndex }, null)
        </li>
    }
    @if (Model.NextPageExists)
    {
        <li>
            @Html.ActionLink("Następne", "Index", new { pageIndex = Model.NextPageIndex }, null)
        </li>
    }
</ul>
